   <!-- Start slider -->
  <section id="aa-slider">
    <div class="aa-slider-area">
      <div id="sequence" class="seq">
        <div class="seq-screen">
          <ul class="seq-canvas">
            <!-- single slide item -->
            <li>
              <div class="seq-model">
                <img data-seq src="/images/slider/gow-background.jpg" alt="God of war slide img" />
              </div>
              <div class="seq-title">
               <span data-seq>Giảm giá 30%</span>                
                <h2 data-seq>GOD OF WAR 4</h2>                
                <p data-seq>"To be effective in combat a warrior must not feel for his enemy, the road ahead is long and unforgiving. No place for a boy, you must be a warrior." - KRATOS</p>
                <a data-seq href="../san-pham/chi-tiet.hbs" class="aa-shop-now-btn aa-secondary-btn">MUA NGAY</a>
              </div>
            </li>
            <!-- single slide item -->
            <li>
              <div class="seq-model">
                <img data-seq src="/images/slider/re2-background.jpg" alt="Resident Evil 2 slide img" />
              </div>
              <div class="seq-title">
                <span data-seq>Giảm giá 40%</span>                
                <h2 data-seq>RESIDENT EVIL 2</h2>                
                <p data-seq>A deadly virus engulfs the residents of Raccoon City in September of 1998, plunging the city into chaos as flesh eating zombies roam the streets for survivors. An unparalleled adrenaline rush, gripping storyline, and unimaginable horrors await you. Witness the return of Resident Evil 2.</p>
                <a data-seq href="../san-pham/chi-tiet.hbs" class="aa-shop-now-btn aa-secondary-btn">MUA NGAY</a>
              </div>
            </li>
            <!-- single slide item -->
            <li>
              <div class="seq-model">
                <img data-seq src="/images/slider/gtav-background.jpg" alt="Grand Theft Auto V slide img" />
              </div>
              <div class="seq-title">
                <span data-seq>Giảm giá 60%</span>                
                <h2 data-seq>GRAND THEFT AUTO V</h2>                
                <p data-seq>Los Santos is a city of bright lights, long nights and dirty secrets, and they don’t come brighter, longer or dirtier than in GTA Online: After Hours. The party starts now.</p>
                <a data-seq href="../san-pham/chi-tiet.hbs" class="aa-shop-now-btn aa-secondary-btn">MUA NGAY</a>
              </div>
            </li>
            <!-- single slide item -->           
            <li>
              <div class="seq-model">
                <img data-seq src="/images/slider/sekiro-background.jpg" alt="Sekiro slide img" />
              </div>
              <div class="seq-title">
                <span data-seq>Giảm giá 10%</span>                
                <h2 data-seq>SEKIRO: SHADOWS DIE TWICE</h2>                
                <p data-seq>Carve your own clever path to vengeance in an all-new adventure. Take Revenge. Restore your honor. Kill Ingeniously.</p>
                <a data-seq href="../san-pham/chi-tiet.hbs" class="aa-shop-now-btn aa-secondary-btn">MUA NGAY</a>
              </div>
            </li>
            <!-- single slide item -->  
             <li>
              <div class="seq-model">
                <img data-seq src="/images/slider/ark-background.jpg" alt="ARK slide img" />
              </div>
              <div class="seq-title">
                <span data-seq>Giảm giá 30%</span>                
                <h2 data-seq>ARK: SURVIVAL EVOLVED</h2>                
                <p data-seq>Stranded on the shores of a mysterious island, you must learn to survive. Use your cunning to kill or tame the primeval creatures roaming the land, and encounter other players to survive, dominate... and escape!</p>
                <a data-seq href="../san-pham/chi-tiet.hbs" class="aa-shop-now-btn aa-secondary-btn">MUA NGAY</a>
              </div>
            </li>                   
          </ul>
        </div>
        <!-- slider navigation btn -->
        <fieldset class="seq-nav" aria-controls="sequence" aria-label="Slider buttons">
          <a type="button" class="seq-prev" aria-label="Previous"><span class="fa fa-angle-left"></span></a>
          <a type="button" class="seq-next" aria-label="Next"><span class="fa fa-angle-right"></span></a>
        </fieldset>
      </div>
    </div>
  </section>
  <!-- / slider -->
  
    <!-- popular section -->
      <section id="aa-popular-category">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="aa-popular-category-area">
                     <!-- start prduct navigation -->
                     <ul class="nav nav-tabs aa-products-tab">
                        <li class="active"><a href="#popular" data-toggle="tab">BÁN CHẠY</a></li>
                        <li><a href="#featured" data-toggle="tab">NỔI BẬT</a></li>
                        <li><a href="#latest" data-toggle="tab">MỚI NHẤT</a></li>
                     </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <!-- Start popular category -->
                        <div class="tab-pane fade in active" id="popular">
                              <ul class="aa-product-catg aa-popular-slider">
                                  {{#if popular}}
                                      {{#each popular}}
                                          <li>
                                              <figure>
                                                  <a class="aa-product-img" href="../san-pham/chi-tiet.hbs"><img src="{{this.avatar}}" alt="img"></a>
                                                  <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ</a>
                                                  <figcaption>
                                                      <h4 class="aa-product-title"><a href="../san-pham/chi-tiet.hbs">{{this.name}}</a></h4>
                                                      <span class="aa-product-price">{{this.price}} VND</span>
                                                  </figcaption>
                                              </figure>
                                              <!-- product badge -->
                                              <span class="aa-badge aa-hot" href="#">HOT!</span>
                                          </li>
                                      {{/each}}
                                  {{/if}}
                              </ul>
                          <a class="aa-browse-btn" href="/san-pham/">Xem tất cả <span class="fa fa-long-arrow-right"></span></a>
                        </div>
                        <!-- / popular product category -->

                        <!-- start featured product category -->
                        <div class="tab-pane fade" id="featured">
                             <ul class="aa-product-catg aa-featured-slider">
                                 {{#if featured}}
                                     {{#each featured}}
                                         <li>
                                             <figure>
                                                 <a class="aa-product-img" href="../san-pham/chi-tiet.hbs"><img src="{{this.avatar}}" alt="img"></a>
                                                 <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ</a>
                                                 <figcaption>
                                                     <h4 class="aa-product-title"><a href="../san-pham/chi-tiet.hbs">{{this.name}}</a></h4>
                                                     <span class="aa-product-price">{{this.price}} VND</span>
                                                 </figcaption>
                                             </figure>
                                             <!-- product badge -->
                                             <span class="aa-badge aa-sale" href="#">MUST TRY!</span>
                                         </li>
                                     {{/each}}
                                 {{/if}}
                              </ul>
                          <a class="aa-browse-btn" href="/san-pham/">Xem tất cả <span class="fa fa-long-arrow-right"></span></a>
                        </div>
                        <!-- / featured product category -->

                        <!-- start latest product category -->
                        <div class="tab-pane fade" id="latest">
                          <ul class="aa-product-catg aa-latest-slider">
                              {{#if latest}}
                                  {{#each latest}}
                                      <li>
                                          <figure>
                                              <a class="aa-product-img" href="../san-pham/chi-tiet.hbs"><img src="{{this.avatar}}" alt="img"></a>
                                              <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ</a>
                                              <figcaption>
                                                  <h4 class="aa-product-title"><a href="../san-pham/chi-tiet.hbs">{{this.name}}</a></h4>
                                                  <span class="aa-product-price">{{this.price}} VND</span>
                                              </figcaption>
                                          </figure>
                                          <!-- product badge -->
                                          <span class="aa-badge aa-sold-out" href="#">NEW!</span>
                                      </li>
                                  {{/each}}
                              {{/if}}
                          </ul>
                           <a class="aa-browse-btn" href="/san-pham/">Xem tất cả <span class="fa fa-long-arrow-right"></span></a>
                        </div>
                    <!-- / latest product category -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- / popular section -->

      <!-- banner section -->
      <section id="aa-banner">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="aa-banner-area">
                <a href="#"><img src="/images/website-banner.png" alt="banner img"></a>
              </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- banner section -->

      <!-- Game section -->
      <section id="aa-product">
        <div class="container ">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="aa-product-area">
                  <div class="aa-product-inner">
                    <!-- start prduct navigation -->
                     <ul class="nav nav-tabs aa-products-tab">
                        <li class="active"><a href="#game" data-toggle="tab">Game</a></li>
                      </ul>
                      <!-- Tab panes -->
                      <div class="tab-content">
                        <!-- Start game product category -->
                        <div class="tab-pane fade in active" id="game">
                          <ul class="aa-product-catg">
                              {{#if products}}
                                  {{#each products}}
                                      <li>
                                          <figure>
                                              <a class="aa-product-img" href="../san-pham/chi-tiet.hbs"><img class="product-frame-size" src="{{this.avatar}}" alt="img"></a>
                                              <a class="aa-add-card-btn"href="#"><span class="fa fa-shopping-cart"></span>Thêm vào giỏ</a>
                                              <figcaption>
                                                  <h4 class="aa-product-title"><a href="../san-pham/chi-tiet.hbs">{{this.name}}</a></h4>
                                                  <span class="aa-product-price">{{this.price}} VND</span>
                                              </figcaption>
                                          </figure>
                                      </li>
                                  {{/each}}
                              {{/if}}
                          </ul>
                          <a class="aa-browse-btn" href="/san-pham/">Xem tất cả <span class="fa fa-long-arrow-right"></span></a>
                        </div>
                        <!-- / game product category -->
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- / Game section -->

      <!-- Support section -->
      <section id="aa-support">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="aa-support-area">
                <!-- single support -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                  <div class="aa-support-single">
                    <span class="fa fa-truck"></span>
                    <h4>GIAO HÀNG MIỄN PHÍ</h4>
                    <P>Hỗ trợ giao hàng miễn phí cho khách hàng trong thời gian sớm nhất.</P>
                  </div>
                </div>
                <!-- single support -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                  <div class="aa-support-single">
                    <span class="fa fa-clock-o"></span>
                    <h4>HOÀN TRẢ TRONG 30 NGÀY</h4>
                    <P>Các sản phẩm khách hàng đã mua nếu không ưng ý có thể hoàn trả hoặc đổi mới trong vòng 30 ngày kể từ ngày mua.</P>
                  </div>
                </div>
                <!-- single support -->
                <div class="col-md-4 col-sm-4 col-xs-12">
                  <div class="aa-support-single">
                    <span class="fa fa-phone"></span>
                    <h4>HỖ TRỢ 24/7</h4>
                    <P>Website luôn luôn túc trực 24/7 để phục vụ khách hàng mọi lúc mọi nơi.</P>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- / Support section -->

      <!-- Latest Blog -->
      <section id="aa-latest-blog">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="aa-latest-blog-area">
                <h2>TIN TỨC</h2>
                <div class="row">
                  <!-- single latest blog -->
                  <div class="col-md-4 col-sm-4">
                    <div class="aa-latest-blog-single">
                      <figure class="aa-blog-img">
                        <a href="#"><img src="/images/news/mortal-kombat-11-news.jpg" alt="img"></a>
                          <figcaption class="aa-blog-img-caption">
                          <span href="#"><i class="fa fa-eye"></i>100K</span>
                          <a href="#"><i class="fa fa-thumbs-o-up"></i>50K</a>
                          <a href="#"><i class="fa fa-comment-o"></i>1k</a>
                          <span href="#"><i class="fa fa-clock-o"></i>22/04/2019</span>
                        </figcaption>
                      </figure>
                      <div class="aa-blog-info">
                        <h3 class="aa-blog-title"><a href="#">Bản tiếp theo của Rồng đen - Mortal Kombat 11 đã chính thức phát hành vào nhôm nay 23/4</a></h3>
                        <p>Tựa game "tuổi thơ" Rồng đen đã chính thức phát hành phiên bản tiếp theo là Mortal Kombat 11, bao gồm chế độ cốt truyện, đối kháng và rất nhiều thứ hay ho, mới mẻ khác.</p>
                        <a href="#" class="aa-read-mor-btn">Đọc tiếp <span class="fa fa-long-arrow-right"></span></a>
                      </div>
                    </div>
                  </div>
                  <!-- single latest blog -->
                  <div class="col-md-4 col-sm-4">
                    <div class="aa-latest-blog-single">
                      <figure class="aa-blog-img">
                        <a href="#"><img src="/images/news/life-is-strange-2-news.jpg" alt="img"></a>
                          <figcaption class="aa-blog-img-caption">
                          <span href="#"><i class="fa fa-eye"></i>83k</span>
                          <a href="#"><i class="fa fa-thumbs-o-up"></i>80k</a>
                          <a href="#"><i class="fa fa-comment-o"></i>15k</a>
                          <span href="#"><i class="fa fa-clock-o"></i>23/04/2019</span>
                        </figcaption>
                      </figure>
                      <div class="aa-blog-info">
                        <h3 class="aa-blog-title"><a href="#">Life is Strange 2 hé lộ ngày ra mắt Episode 3</a></h3>
                        <p>Đây hứa hẹn sẽ tiếp tục đưa game thủ vào một câu truyện thế giới tuổi teen, siêu năng lực, drama thú vị và kịch tính hơn nhiều hai Episode đầu tiên.</p>
                         <a href="#" class="aa-read-mor-btn">Đọc tiếp <span class="fa fa-long-arrow-right"></span></a>
                      </div>
                    </div>
                  </div>
                  <!-- single latest blog -->
                  <div class="col-md-4 col-sm-4">
                    <div class="aa-latest-blog-single">
                      <figure class="aa-blog-img">
                        <a href="#"><img src="/images/news/truc-tiep-game-news.jpg" alt="img"></a>
                          <figcaption class="aa-blog-img-caption">
                          <span href="#"><i class="fa fa-eye"></i>1M5</span>
                          <a href="#"><i class="fa fa-thumbs-o-up"></i>1M5</a>
                          <a href="#"><i class="fa fa-comment-o"></i>100k</a>
                          <span href="#"><i class="fa fa-clock-o"></i>22/04/2019</span>
                        </figcaption>
                      </figure>
                      <div class="aa-blog-info">
                        <h3 class="aa-blog-title"><a href="#">Tưng bừng khai trương, Dũng CT mở thêm cửa hàng mới mang tên "Đụt Quán"</a></h3>
                        <p>Đây hứa hẹn sẽ quy tụ hơn 500 AE đến để ủng hộ và giao lưu với Dũng CT và các thành viên trong Team Dụt.</p>
                        <a href="#" class="aa-read-mor-btn">Đọc tiếp <span class="fa fa-long-arrow-right"></span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- / Latest Blog -->

      <!-- Client Brand -->
      <section id="aa-client-brand">
            <div class="container">
                  <div class="row">
                        <div class="col-md-12">
                              <div class="aa-client-brand-area">
                                    <ul class="aa-client-brand-slider">
                                          <li><a href="#"><img class="original-size" src="/images/h1-client-img-1.png" alt="steel series img"></a></li>
                                          <li><a href="#"><img class="original-size" src="/images/h1-client-img-2.png" alt="razer img"></a></li>
                                          <li><a href="#"><img class="original-size" src="/images/h1-client-img-3.png" alt="roccat img"></a></li>
                                          <li><a href="#"><img class="original-size" src="/images/h1-client-img-4.png" alt="gunnar img"></a></li>
                                          <li><a href="#"><img class="original-size" src="/images/h1-client-img-5.png" alt="ttesport img"></a></li>
                                          <li><a href="#"><img class="original-size" src="/images/h1-client-img-6.png" alt="cmstorm img"></a></li>
                                    </ul>
                              </div>
                        </div>
                  </div>
            </div>
      </section>
      <!-- / Client Brand -->
